#!/usr/bin/make -f
%:
	dh $@

override_dh_usrlocal:
	# Skip dh_usrlocal entirely since we handle /usr/local/sbin manually

override_dh_auto_install:
	make install DESTDIR=$(CURDIR)/debian/saytime-weather
	make install-sounds DESTDIR=$(CURDIR)/debian/saytime-weather

override_dh_fixperms:
	dh_fixperms